<% provide(:title, '| 机甲列表') %>
<div class="container">
  <div class="col-lg-12">
    <h1 class="page-header">引擎列表
      <!-- <small>Secondary Text</small> -->
    </h1>
  </div>

  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
            <a href="#">«</a>
        </li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">»</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-12">
    <h1 class="page-header">武器列表
      <!-- <small>Secondary Text</small> -->
    </h1>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </a>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
            <a href="#">«</a>
        </li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">»</a>
        </li>
      </ul>
    </div>
  </div>
</div>