<% provide(:title, '| 创建机甲') %>
<div class="container main-body">
  <center class="row">
    <h1>创建机甲</h1>
  </center>
  <div class="row">
    <p>注意：只需要打包上传myAI目录</p>
    <hr>
    <%= render 'create_mech_form'%>
  </div>
</div>