<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.class.nil? && current_user.admin? && !current_user?(user) %>
    | <%= link_to "删除用户", user, method: :delete,
                                  data: { confirm: "确认删除用户吗？" } %>
  <% end %>
</li>