<% provide(:title, '| 英雄榜') %>
<div class="container">
  <center>
    <h1>英雄榜</h1>
  </center>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= paginate @users, :outer_window => 2 %>
</div>
