<div id="myCarousel" class="carousel slide" data-interval="2000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://ww4.sinaimg.cn/mw1024/9de7f98djw1er9osyawfej218g0rsjz3.jpg')"></div>
            <div class="carousel-caption">
                <h1>别样的游戏玩法</h1>
                <h3>告别鼠标，用代码操纵你的机甲！</h3>
                <% unless signed_in? %>
                    <%= link_to "立即注册", signin_path, :class => "btn custom-btn btn-lg"%>
                    <br><br>
                <% end %>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://ww1.sinaimg.cn/mw1024/9de7f98djw1er9osvcxn5j218g0p010p.jpg')"></div>
            <div class="carousel-caption">
                <h1>人工智能并不遥远</h1>
                <h3>制作你专属的智能体，去征战！</h3>
                <a href="/download" title="下载开发包" class="btn custom-btn btn-lg">下载开发包</a>
                <br><br>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://ww1.sinaimg.cn/mw1024/9631b1bbgw1er9nsphirsj218g0xcgsd.jpg')"></div>
            <div class="carousel-caption">
                <h1>酷炫的战斗画面</h1>
                <h3>让编程不再枯燥，充满乐趣！</h3>
                <!-- <a href="#" title="下载游戏播放器" class="btn custom-btn btn-lg">下载游戏播放器</a> -->
                <br><br>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="row home-page-top home-page-black">
    <div class="container">
        <div class="row">
            <center class="home-page-newer-title">
                <h1>也许，你还是迷茫的新手</h1>
            </center>
            <center class="col-md-4 col-sm-8 home-page-newer-item">
                <img class="img-circle" src="http://ww3.sinaimg.cn/mw1024/9631b1bbgw1erd0g2tjysj205k05k0t0.jpg" alt="新手指南">
                <h2>新手指南</h2>
                <p>新手入门，闪电上手</p>
                <a href="/newer" title="新手指南" class="home-link">新手指南 &gt;&gt;</a>
            </center>
            <center class="col-md-4 col-sm-8 home-page-newer-item">
                <img class="img-circle" src="http://ww1.sinaimg.cn/mw1024/9631b1bbgw1erd0g2u3hij205k05kmxh.jpg" alt="开发文档">
                <h2>开发文档</h2>
                <p>详细开发和游戏手册</p>
                <%= link_to "开发文档 >>", image_path('document.pdf'), :class=>"home-link"%>
                <!-- <a href="http://pan.baidu.com/s/1gdgYleN" title="开发文档" class="btn custom-btn btn-lg">开发文档</a> -->
                <!-- <a href="#" title="游戏介绍" class="home-link">查看游戏介绍 &gt;&gt;</a> -->
            </center>
            <center class="col-md-4 col-sm-8 home-page-newer-item">
                <img class="img-circle" src="http://ww4.sinaimg.cn/mw1024/9631b1bbgw1erd0g2wvvaj205k05kdg4.jpg" alt="游戏背景">
                <h2>游戏背景</h2>
                <p>机甲帝国的世界观和周边</p>
                <a href="/gamebg" title="战斗规则" class="home-link">游戏背景 &gt;&gt;</a>
            </center>
        </div>
    </div>
</div>
<div class="row home-page-gray">
    <div class="container">
        <center class="home-page-newer-title">
            <h1>或者，你已是轻车熟路的高手</h1>
        </center>
        <center class="col-md-6 col-sm-12">
            <%= image_tag('x.png', :class=> "featurette-image img-circle img-responsive pull-left")%>
        </center>
        <center class="col-md-6 col-sm-12 home-page-content-gray">
            <h1>狄学长大战白骨精</h1>
            <hr class="main-page-hr">
            <h3 class="lead">狄学长与白骨精酣战 8 个多小时，终于体力不支，倒下了。</h3>
            <a href="/highlights" title="点击观看更多精彩战斗">点击观看更多精彩战斗 &gt;&gt;</a>
        </center>
    </div>
</div>

<div class="row home-page-black">
    <div class="container">
        <center class="home-page-newer-title">
            <h1>战斗的号角已经吹响</h1>
            <p class="lead">赶快去创建机甲，征服世界吧，相信你一定会收获别样的精彩</p>
        </center>
    </div>
</div>
