<div class="mech-main">
	<center class="container">
		<div class="me-logo">
  		<%= image_tag("mech-logo.jpg", :class => "img-rounded") %>
	  </div>
	  <p class="lead">绝对精彩的C++智能体对抗游戏！</p>
		<p class="lead">
      <a href="/users/new" class="btn btn-success btn-lg">立即加入战斗</a>
    </p>
	</center>
</div>