<% provide(:title, '| 关于我们') %>
<div class="aboutus-main">
</div>
<%= render 'helper_nav'%>
<div class="container main-body custom-well">
  <div class="my-temp">
    <h2 class="page-header">团队成员
      <small>Everyone Is Important</small>
    </h2>
    <center>
      <h3> 这里每个人的默默付出, 才让机甲帝国变的更完美</h3>
    </center>
    <br><br>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>狄学长
          <small>游戏开发工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>Tairy
          <small>Web 开发工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>Scarlett
          <small>Web UI 设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>蔡怡然
          <small>产品经理 & 文案编辑</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>谢峥嵘
          <small>Unity3D 工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>费隐剑
          <small>Unity3D 工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>解曙方
          <small>安全工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>印明亮
          <small>安全工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>李昕钰
          <small>3D 设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>文轶
          <small>平面设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>杨宇尘
          <small>平面设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>何永东
          <small>Web UI 设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>张晖
          <small>Web 前端工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
      <h3>卢冠男
          <small>Web 后端工程师</small>
      </h3>
    </div>
    <div class="clear"></div>
  </div>
</div>