<% provide(:title, '| 关于机甲帝国') %>
<div class="about-main">
</div>
<%= render 'helper_nav'%>
<div class="container main-body">
  <h1 class="page-header">机甲帝国
    <small>An Amazing Brainstorm</small>
  </h1>

</div>