<div class="about-main">
</div>
<%= render 'helper_nav'%>
<div class="container main-body custom-well join-us">
  <h2 class="page-header">机甲帝国
    <small>An Amazing Brainstorm</small>
  </h2>
  <h3>了解机甲帝国</h3>
  <br>
  <p>机甲帝国是一款智能体对战的游戏。</p> 
  <p>玩家可根据官方提供的代码模版编写 AI 代码，上传至机甲帝国对战平台之后即可和其他玩家的 AI 进行对战，获取积分。</p>
  <p>玩家可自由选择一种武器炮塔和一种引擎载具组成战斗机甲，随后战斗在固定地图上发生。</p>
  <br>
  <p>战斗目标是在战斗时限内击毁对方机甲。</p>
  <p>若战斗时限结束仍有多余一个机甲存活, 则胜者为剩余生命值多的机甲。</p>
  <p>对战中若双方同归于尽，则记为平局。</p>
  <br>
  <p>机甲通过使用武器炮塔进行攻击,使用引擎载具进行移动。</p>
  <p>地图上存在若干有冷却时间的军 火库,供机甲补充弹药。</p>
  <p>地图上有若干障碍物,会阻止机甲和子弹的路径。</p>
  <br>
  <h3>对战平台积分规则</h3>
  <br>
  <p>战斗胜利一场加 3 分</p>
  <p>战斗失败一场减 1 分</p>
  <p>平局或战斗超时积分不变</p>
  <br>
  <h3>平台对战规则</h3>
  <br>
  <p>机甲一旦创建默认处于战备状态，可接受任何挑战</p>
  <p>用户可随意挑选其他玩家的战备机甲进行对战</p>
</div>