<% provide(:title, '| 关于我们') %>
<div class="aboutus-main">
</div>
<%= render 'helper_nav'%>
<div class="container main-body custom-well">
  <div class="my-temp">
    <h2 class="page-header">团队成员
      <small>Everyone Is Important</small>
    </h2>
    <center>
      <h3> 这里每个人的默默付出, 才让机甲帝国变的更完美</h3>
    </center>
    <br><br>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww3.sinaimg.cn/bmiddle/9631b1bbjw1er9hzdjzgaj202s02sdfp.jpg" alt="">
      <h3>狄学长
          <small>游戏工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww3.sinaimg.cn/bmiddle/9631b1bbjw1er9hzecq6gj207v07v3ym.jpg" alt="">
      <h3>Tairy
          <small>Web 工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://placehold.it/100x100" alt="">
      <h3>Scarlett
          <small>UI 设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww4.sinaimg.cn/mw1024/9631b1bbjw1er9io9sa30j21991ax7t3.jpg" alt="">
      <h3>菜大肥
          <small>产品经理</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww1.sinaimg.cn/mw1024/9631b1bbjw1er9ixk7ckmj209i09iwep.jpg" alt="">
      <h3>谢峥嵘
          <small>3D 设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww2.sinaimg.cn/mw1024/9631b1bbjw1er9igv2y75j209u09t74e.jpg" alt="">
      <h3>姚东成
          <small>Unity3D 工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://placehold.it/100x100" alt="">
      <h3>解曙方
          <small>安全工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww4.sinaimg.cn/mw1024/9631b1bbjw1er9ikohu7ij202y03awee.jpg" alt="">
      <h3>印明亮
          <small>安全工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://placehold.it/100x100" alt="">
      <h3>李昕钰
          <small>3D 设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww4.sinaimg.cn/mw1024/9631b1bbjw1er9k6toz61j202s02s0sl.jpg" alt="">
      <h3>文轶
          <small>平面设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww4.sinaimg.cn/mw1024/9631b1bbjw1er9i72xrlnj202s02s0sk.jpg" alt="">
      <h3>杨宇尘
          <small>平面设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://placehold.it/100x100" alt="">
      <h3>曹佩哲
          <small>AI 工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww2.sinaimg.cn/mw1024/9631b1bbjw1er9jnlywsjj202s02s3yf.jpg" alt="">
      <h3>何永东
          <small>UI 设计师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://placehold.it/100x100" alt="">
      <h3>张晖
          <small>Web 前端工程师</small>
      </h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center img-aboutus" src="http://ww2.sinaimg.cn/mw1024/9631b1bbjw1er9iscdzgrj20ib0idtax.jpg" alt="">
      <h3>卢冠男
          <small>Web 后端工程师</small>
      </h3>
    </div>
    <div class="clear"></div>
  </div>
</div>