<div class="achieve-main">
</div>
<%= render 'helper_nav'%>
<div class="container custom-well main-body">
  <h2 class="page-header">机甲帝国大事记
    <small>That Our Efforts</small>
  </h2>
  <h3>2014.1 至 2014.3</h3>
  <p>战斗核心模块开发</p>
  <p>战斗调试器开发</p>
  <p>战斗 2D 播放器开发</p>
  <h3>2014.3.14 至 2014.4.13</h3>
  <p>第一届机甲帝国比赛在东南大学九龙湖校区举办</p>
  <h3>2015.01 至 2015.04</h3>
  <p>机甲帝国对战平台开发</p>
  <p>机甲 3D 模型开发</p>
  <p>机甲 3D 播放器开发</p>
  <h3>2015.04.20</h3>
  <p>机甲帝国对战平台上线</p>
  <h3>2015.04.24</h3>
  <p>机甲帝国 3D 播放器 Beta 版上线</p>
</div>