<% provide(:title, '| 开发日志') %>
<div class="achieve-main">
</div>
<%= render 'helper_nav'%>
<div class="container main-body">
  <h2 class="page-header">开发日志
    <small>That Our Efforts</small>
  </h2>
</div>