<div class="container main-body custom-well">
  <div class="row">
    <div class="col-lg-12">
    <h1>资源下载</h1>
    <ul class="users">
      <li><a href="http://pan.baidu.com/s/1gddA2gb" title="Flash本地播放器(0505版)">Flash本地播放器(0505版)</a></li>
      <li><a href="http://pan.baidu.com/s/1dD2aUcT" title="Unity3D战斗播放器(抢先版)">Unity3D战斗播放器(抢先版)</a></li>
      <li><a href="http://pan.baidu.com/s/1gdgYleN" title="开发者手册">开发者手册</a></li>
      <li><a href="http://pan.baidu.com/s/1ntKb513" title="机甲帝国Windows_VS开发包">机甲帝国Windows_VS开发包</a></li>
      <li><a href="http://pan.baidu.com/s/1sjPtfmH" title="机甲帝国Linux开发包">机甲帝国Linux开发包</a></li>
    </ul>
    </div>
  </div>
</div>
