<div class="container main-body custom-well">
  <div class="row">
    <div class="col-lg-12">
      <h1>游戏背景</h1>
      <hr>
      <p>某年，美国特测到一颗名为XX拥有丰富资源的类地行星。各国商定签署和平利用条约。结果苏俄悄无声息地派遣太空军队驻扎并开始移民开发。美国出动部队阻止其行动，战争一触即发。此时，美国在地球上空的空间基地却被古巴袭击，争夺资源和捍卫领地的战争在太空爆发了。。。</p>
      <br><br>
      <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">美国 USAF 五星上将 麦克米兹</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b76c6d656344a0120000">
                <img class="img-responsive" src="http://ww4.sinaimg.cn/bmiddle/8def4a35gw1erb9vbsau4j21kw14749e.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b2226d656344a0050000">
                <img class="img-responsive" src="http://ww2.sinaimg.cn/bmiddle/8def4a35gw1erb9vp3ndpj21kw147k47.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b3106d656344a00d0000">
                <img class="img-responsive" src="http://ww3.sinaimg.cn/bmiddle/8def4a35gw1erb9vjbt1pj21kw147ak2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/carriers/5533ca786d6563523a010000">
                <img class="img-responsive" src="http://ww1.sinaimg.cn/bmiddle/8def4a35gw1erb9vs3apoj21kw1474al.jpg" alt="">
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">苏俄 太空红军 元帅 库尔涅佐夫</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/55339df26d656330d8000000">
                <img class="img-responsive" src="http://ww2.sinaimg.cn/mw1024/9631b1bbgw1erb5afh30mj21kw147wsg.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534af576d656344a0020000">
                <img class="img-responsive" src="http://ww4.sinaimg.cn/bmiddle/8def4a35gw1erb9y7078cj21kw147126.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b2746d656344a0060000">
                <img class="img-responsive" src="http://ww2.sinaimg.cn/bmiddle/8def4a35gw1erb9vgxmjpj21kw147n7p.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/carriers/5534a9a56d656344a0000000">
                <img class="img-responsive" src="http://ww4.sinaimg.cn/bmiddle/8def4a35gw1erb9z1tztqj21kw147n8f.jpg" alt="">
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">欧盟 宇宙盟军 总司令 邓尼撒</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b1bc6d656344a0040000">
                <img class="img-responsive" src="http://ww4.sinaimg.cn/bmiddle/8def4a35gw1erb9z6xi7yj21kw147tkf.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/carriers/5534bcd96d656344a0150000">
                <img class="img-responsive" src="http://ww4.sinaimg.cn/bmiddle/8def4a35gw1erb9yzeit3j21kw147amo.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/carriers/5534ad696d656344a0010000">
                <img class="img-responsive" src="http://ww1.sinaimg.cn/bmiddle/8def4a35gw1erb9ybxx6sj21kw147gx2.jpg" alt="">
            </a>
        </div>
        <!-- <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div> -->
      </div>
      <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">古巴 星际自由部队 总指挥 卡斯特罗斯</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b62e6d656344a00f0000">
                <img class="img-responsive" src="http://ww2.sinaimg.cn/bmiddle/8def4a35gw1erb9vm23c3j21kw147dq7.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b6996d656344a0100000">
                <img class="img-responsive" src="http://ww1.sinaimg.cn/bmiddle/8def4a35gw1erb9y02txxj21kw14749m.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/carriers/5533968b6d656329d5000000">
                <img class="img-responsive" src="http://ww2.sinaimg.cn/mw1024/9631b1bbgw1erb4c26126j21kw147aoz.jpg" alt="">
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">中国 中国太空军 参谋长 章自忠</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b3fd6d656344a00e0000">
                <img class="img-responsive" src="http://ww2.sinaimg.cn/bmiddle/8def4a35gw1erb9y9t89gj21kw147wqj.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534b6da6d656344a0110000">
                <img class="img-responsive" src="http://ww4.sinaimg.cn/bmiddle/8def4a35gw1erb9verv2fj21kw147qfz.jpg" alt="">
            </a>
        </div>
        <!-- <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/weapons/5534aff06d656344a0030000">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div> -->
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://mechempire.cn/carriers/5534bb506d656344a0140000">
                <img class="img-responsive" src="http://ww4.sinaimg.cn/bmiddle/8def4a35gw1erb9y2i0n2j21kw147wr8.jpg" alt="">
            </a>
        </div>
      </div>








     <!--  <h3>美国 USAF 五星上将 麦克米兹</h3>
      
      
      <h2>欧盟 宇宙盟军 总司令 邓尼撒</h2>
      <ul>
        <li>M249</li>
        <li>幽灵坦克</li>
        <li>UFO</li>
      </ul>
      <h2>古巴 星际自由部队 总指挥 卡斯特罗斯</h2>
      <ul>
        <li>钢牙电锯</li>
        <li>手雷弹射器</li>
        <li>蜘蛛V3</li>
      </ul>
      <h2>中国 中国太空军 参谋长 章自忠</h2>
      <ul>
        <li>R.P.G.</li>
        <li>骁龙飞弹</li>
        <li>布雷塔</li>
        <li>四轴飞行器</li>
      </ul> -->

    </div>
  </div>
</div>