<% provide(:title, '| 加入我们') %>
<div class="join-main">
</div>
<%= render 'helper_nav'%>
<div class="container main-body">
  <div class="col-lg-12 join-us">
      <h1 class="page-header">加入我们
          <small>Making Your Own Art</small>
      </h1>
      <p>
        我们都是20岁左右的年纪，这个年纪的我们，可能总会觉得我们很好，世界却很糟。
      </p>
      <p>
        世界上有思想的人很多，去做的却很少。
      </p>
      <p>
        在思考人生的同时，充实自己，跟与你一样热爱技术，热爱自由的人在一起，积累技术的过程与友情的培养。
      </p>
      <br>
      <p>如果你热爱技术，渴望加强技术，用技术实现改变，加入我们。</p>
      <p>如果你热爱游戏设计，喜欢创造体验，加入我们。</p>
      <p>如果你有非凡的想象力，充满创意，加入我们。</p>
      <p>如果你喜欢设计人物，喜欢用技术创造艺术创造美的感受，加入我们。</p>
      <br>

      <h3>我们需要：</h3>
      <p>Web开发，UI设计，3D建模，平面设计，游戏设计。</p>
      <p>如果你对我们的项目中的任何一部分感兴趣，可发送简历至 tairyguo@gmail.com，期待你的加入。</p>
  </div>
</div>