<% provide(:title, '| 加入我们') %>
<div class="join-main">
</div>
<%= render 'helper_nav'%>
<div class="container main-body custom-well">
  <div class="col-lg-12 join-us">
      <h2 class="page-header">加入我们
          <small>Making Your Own Art</small>
      </h2>
      <p>做这一切</p>
      <p>是为了兴趣</p>
      <p>和实现自我价值</p>
      <p>满足自己的好奇心</p>
      <p>再得到能力上的提升</p>
      <br>
      <p>如果你也喜欢机甲帝国</p>
      <p>如果你也想学学相关的技术</p>
      <p>如果你也想做做有意思的项目</p>
      <p>就来一起玩吧</p>
      <br>
      <p>远程协作，线上交流</p>
      <p>自我驱动，随时随地工作</p>
      <br>
      <h3>在这里可以学到的</h3>
      <br>
      <p>游戏设计: 机甲设计, 游戏场景设计</p>
      <p>3D建模: Unity3D机甲建模, 游戏场景建模</p>
      <p>Web开发: Web 前后端技术</p>
      <p>UI设计: Web 页面设计, 平面设计</p>
      <p>AI 开发: 制作最厉害的机甲</p>
      <p>网络安全: 服务器运维，Web安全</p>
      <br>
      <p>联系邮箱 tairyguo@gmail.com，期待你的加入。</p>
  </div>
</div>