<div class="container main-body custom-well">
  <div class="row">
    <div class="col-lg-12 newer">
      <h1>新手指南</h1>
      <hr>
      <p>1. 下载【机甲帝国Windows_VS开发包】，【Flash战斗播放器】（或【Unity3D战斗播放器】），【开发手册】<a href="/download">下载页面</a>。</p>
      <p>2. 双击【机甲帝国战斗调试器.exe】，即可立即生成战斗录像，录像可由【Flash战斗播放器】(或【Unity3D战斗播放器】)播放观看。</p>
      <p>3. 编辑【ConsoleConf.txt】可以配置参战机甲智能体dll路径。</p>
      <p>4. 在【RobotAIFactory】VS 工程模板中编码实现自己的机甲。</p> 
      <p>5. 在 <a href="http://mechempire.cn">mechempire.cn</a> 注册账号，上传代码，与众多机甲一决高下, 赢取妹子的尖叫。</p>
      <!-- <p>6. 参与第二季机甲帝国C++智能体编程争霸赛的联赛，晋级8强，在20150607现场巅峰大战中打败对手，赢取妹子的尖叫。</p> -->
      <p>6. 对战平台积分规则：<br>
      &nbsp;&nbsp;&nbsp;&nbsp;采用天梯积分规则，天梯采用ELO计算方法，公式参见 <a href="http://zh.wikipedia.org/wiki/%E7%AD%89%E7%BA%A7%E5%88%86">wiki</a>。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;其中 k = 32 + 16 * 0.9 ^ (双方的比赛场次和)，初始积分为1500分，最小积分为0分，不设上限。
      </p> 
      <p>7. 对战平台护盾规则： <br> 
      &nbsp;&nbsp;&nbsp;&nbsp;新上传的机甲将获得一天的护盾保护，不接受挑战。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;被攻击失败后将获得5分钟的护盾，不再接受别人挑战。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;处于护盾保护期间的机甲若主动发起攻击将视为放弃护盾。
      </p>
      <p>8. 对战平台英雄榜规则： <br>
      &nbsp;&nbsp;&nbsp;&nbsp;展示平台所有用户。 <br>
      &nbsp;&nbsp;&nbsp;&nbsp;按战斗积分排序。
      <br><br>
      <blockquote>
        <p>特别提醒：上传至机甲帝国对战平台的代码只需要将 myAI 目录压缩成zip格式的压缩包上传，否则将无法通过服务器编译。</p>
        <p>欢迎加入机甲帝国官方QQ群讨论： 207730813</p>
      </blockquote>
    </div>
  </div>
</div>