<div class="container main-body custom-well">
  <center><h2>精彩战斗合集</h2></center>
  <ul class="users">
    <li>
      <span class="col-md-4">
        <a href="/vedio/1">天王山之战：百变小樱 VS Totally Useless</a>
      </span>
      <span class="col-md-8">
        <p>
          第一季机甲帝国的最终巅峰对决，由多次改装表现起伏的来自东南大学软件学院的百变小樱对阵在联赛中横扫四方纵横捭阖的来自大洋彼岸加州大学洛杉矶分校的Totally Useless。绝对经典的逆袭之战。百变小樱凭借全新的改装和一定的运气，开局就以一记世界波给了Totally Useless当头一棒，又之后的登顶奠定了基础。
        </p>
      </span>
    </li>
    <li>
      <span class="col-md-4">
        <a href="/vedio/2">横扫千军：Highly Useless VS 猥琐机器人</a>
      </span>
      <span class="col-md-8">
        <p>在第一季机甲帝国首轮联赛以不败战绩雄踞榜首的Useless，在对阵狄学长的主场机器人环节暴揍主场的猥琐机器人，打得它毫无还手之力，让猥琐流的嚣张气焰不复存在。</p>
      </span>
    </li>
    <li>
      <span class="col-md-4">
        <a href="/vedio/3">魔鬼主场：春光灿烂章鱼哥 VS 绞肉机</a>
      </span>
      <span class="col-md-8">
        你以为之前的主场机器人也这么好欺负吗？第一季第一轮测试赛中夺魁的猥琐流章鱼哥就被狄学长的绞肉机打得满地找牙。
      </span>
    </li>
    <li>
      <span class="col-md-4">
        <a href="/vedio/4">千钧一发：春光灿烂章鱼哥 VS 丫你</a>
      </span>
      <span class="col-md-8">
        章鱼哥的打法曾经让很多人都没有办法，但是在机甲帝国的世界很难真正有一招鲜打遍天下的情况。丫你就是抓住章鱼哥失误的良机，果断进攻，拿下了这场艰难的胜利。
      </span>
    </li>
    <li>
      <span class="col-md-4">
        <a href="/vedio/5">沙漠银狐：春光灿烂章鱼哥 VS 杂鱼</a>
      </span>
      <span class="col-md-8">
        为什么受伤的总是章鱼哥。。。因为章鱼哥作为第一季的首个霸主，使得击败章鱼哥的战役总能成为经典。杂鱼凭借这一场运动战成功干掉章鱼哥成为第二个称霸一时的机甲。巧妙地运用坦克的速度，让章鱼哥疲于奔命而得不到军火库的补给，最终被光棱引爆。
      </span>
    </li>
  </ul>
</div>