<div class="about-menu">
  <div class="container">
    <a href="/about" title="关于项目" class="about-menu-link <%= 'selected' if current_page?(:action => 'about')%>">关于项目</a>
    <a href="/aboutus" title="关于我们" class="about-menu-link <%= 'selected' if current_page?(:action => 'aboutus')%>">关于我们</a>
    <a href="/achieve" title="机甲日志" class="about-menu-link <%= 'selected' if current_page?(:action => 'achieve')%>">机甲日志</a>
    <a href="/join" title="加入我们" class="about-menu-link <%= 'selected' if current_page?(:action => 'join')%>">加入我们</a>
  </div>
</div>