<div class="container main-body">
  <h1>比赛列表</h1>
  <ul class="users">
    <% @matches.each do |match| %>
      <li>
        <%= link_to match.name, match %>
      </li>
    <% end %>
  </ul>
</div>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% #@matches.each do |match| %>
      <tr>
        <td><%#= link_to 'Show', match %></td>
        <td><%#= link_to 'Edit', edit_match_path(match) %></td>
        <td><%#= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% #end %>
  </tbody>
</table> -->
