<div class="container">
  <h1>
  <%= @match.name %>
  <small>
    <%= I18n.l @match.start_time, :format => :long %> 至 <%= I18n.l @match.end_time, :format => :long %>
  </small>
  </h1>
  <hr>
</div>
<center class="container main-body">
</center>