/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.alert-notice{
	@extend .alert-success;
}
.alert{
  margin-bottom: 0px;
}

table{
  @extend .table;
}
.panel-body{
  background-image: url('http://ww3.sinaimg.cn/bmiddle/9631b1bbjw1eraoavtl3kj203k03k0si.jpg');
}

.custom-container{
  @extend .container;
  margin-top: 15px;
}
.custom-well{
  @extend .well;
  background-color: rgba(68, 68, 68, 0.6);
  border: 1px solid #444;
  h3{
    margin-top:0;
  }
}
.pagination{
  margin: 10px 0 0 0;
}
html,
body {
  height: 100%;
}

body {
  background-image: url("http://ww3.sinaimg.cn/mw1024/9631b1bbjw1eraoavtl3kj203k03k0si.jpg");
  font-family: "微软雅黑","Microsoft YaHei", verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}
h1 h2 h3 h4 h5 h6{
  color: #fff;
}
p{
  color: #aaa;
}
.main-body{
  min-height: 840px;
  margin: 30px auto 80px; 
}

ul{
  list-style: none;
}
hr{
  margin:10px 0;
  border-top: 1px solid #444;
}
a:link {  
  color: #35bce5 !important;  
  text-decoration: none; 
  transition: 0.3s ease; 
}  
a:visited {  
  text-decoration: none;  
  color: #35bce5 !important;  
}  
a:hover {  
  text-decoration: none;  
  color: #fff !important;  
}  
a:active {  
  text-decoration: none;  
  color: #35bce5 !important;  
}
footer{
  color: #999;
  a{
    color: #999 !important;
  }
  padding: 40px 0 30px 0;
  bottom: 0px;
  background-color: #000;
  border-top: 1px solid black;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.pagination{
  margin: 30px auto;
  text-align: center;
  span{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 42px;
    margin: 0 3px 0 0;
    width: 42px;
    a{
      border: 1px solid #444;
      color: #fff !important;
      display: inline-block;
      font-size: 14px;
      height: 100%;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      -webkit-transition: background-color 250ms ease;
      -moz-transition: background-color 250ms ease;
      -o-transition: background-color 250ms ease;
      -ms-transition: background-color 250ms ease;
      transition: background-color 250ms ease;
      width: 100%;
    }
    a:hover, a.current{
      border: 1px solid #35bce5;
      background-color: #35bce5;
    }
  }
}
.custom-btn{
  border-color: #666;
  background-color: #555;
}
a.custom-btn:hover{
  border-color: transparent;
  background-color: #33c8f3;
}
a.custom-btn{
  color:#fff !important;
}

.custom-btn2{
  border-color: transparent;
  background-color: #2ea4d1;
}
a.custom-btn2:hover{
  border-color: transparent;
  background-color: #33c8f3;
}
a.custom-btn2{
  color:#fff !important;
}

.list-group > a, .dropdown-menu, .modal-content{
  background-image: url('http://ww3.sinaimg.cn/bmiddle/9631b1bbjw1eraoavtl3kj203k03k0si.jpg');
  border: 1px #444 solid;
}
.dropdown-menu .divider{
  background-color: #444;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgba(68, 68, 68, 0.6);
}

.list-group > a:hover, .list-group > a:focus {
  background-color: rgba(68, 68, 68, 0.6);
}
.page-header{
  border-bottom: 1px solid #444;
}
#cnzz_stat_icon_1254816734{
  display: none;
}
.my-temp div h3 {
  margin-top: 20px;
  padding-bottom: 30px;
}
.clear {
  clear: both;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

// @media(min-width: 768px){
//   .container, .custom-container {
//     width: 100%;
//   }
// }


.strong {
  font-weight: bold;
}