/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.alert-notice{
	@extend .alert-success;
}
.alert{
  margin-bottom: 0px;
}

.custom-container{
  @extend .container;
  margin-top: 15px;
}
.custom-well{
  @extend .well;
  background-color: #fff;
}
.pagination{
  margin: 10px 0 0 0;
}
html,
body {
    height: 100%;
}

body {
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif, "Microsoft YaHei", "微软雅黑";
  font-size: 13px;
  line-height: 18px;
}

ul{
  list-style: none;
}
hr{
  margin:10px 0;
}
a:link {  
  color: #000000;  
  text-decoration: none;  
}  
a:visited {  
  text-decoration: none;  
  color: #000000;  
}  
a:hover {  
  text-decoration: none;  
  color: #23527c;  
}  
a:active {  
  text-decoration: none;  
  color: #000000;  
}
footer{
  color: #999;
  a{
    color: #999 !important;
  }
  padding: 40px 0 30px 0;
  bottom: 0px;
}
.foot_hr{
  width: 90%;
  margin:0px auto;
  padding: 20px auto;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.custom-well{
  h3{
    margin-top:0;
  }
}