// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lead{
	margin: 25px;
	font-size: 23px !important;
	color: #fff;
}
.mech-nav{
	margin-bottom: 0;
	background-color: #fff;
}
.mech-main{
	padding:20px;
}
.navbar{
	margin-bottom: 0px !important;
	// padding-bottom: 0;
}
.mech-main{
	background-color: #6f5499;
}