// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_user, .new_user{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.users {
  list-style: none;
  margin: 0;
  padding-left: 0px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid rgb(216, 216, 216);
    &:last-child {
      border-bottom: 1px solid rgb(216, 216, 216);
    }
  }
}