// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_user, .new_user{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}