// Place all the styles related to the weapons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.portfolio-item{
  margin-top:10px;
  margin-bottom: 10px;
}
.mech-item-info{
  margin-top: 0px;
}
.mech-item-info p:first-child{   
  color: #f7f7f7;   
  line-height:170%; 
}