<footer class="row">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <div class="col-lg-6 col-sm-6">
          <p>© MechEmpire <%= Time.now.year %></p>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a href="/about" title="关于我们">关于我们</a>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a href="/join" title="加入我们">加入我们</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <center>
          <a href="/"><%=image_tag("logo-foot.png", :heigth => "20")%></a>
        </center>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="col-lg-3 col-sm-3">
          <a href="/mechlist" title="装备介绍">装备介绍</a>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a href="/rule" title="装备介绍">战斗规则</a>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a href="/introduce" title="游戏介绍">游戏介绍</a>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a href="/download" title="资源下载">资源下载</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254816734'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254816734%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</footer>