<footer class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="col-lg-6">
        <p>© MechEmpire <%= Time.now.year %></p>
      </div>
      <div class="col-lg-3">
        <a href="/about" title="关于我们">关于我们</a>
      </div>
      <div class="col-lg-3">
        <a href="/join" title="加入我们">加入我们</a>
      </div>
    </div>
    <div class="col-lg-4">
      <center>
        <a href="/"><%=image_tag("logo-foot.png")%></a>
      </center>
    </div>
    <div class="col-lg-4">
      <div class="col-lg-3">
        <a href="/mechlist" title="装备介绍">装备介绍</a>
      </div>
      <div class="col-lg-3">
        <a href="/rule" title="装备介绍">战斗规则</a>
      </div>
      <div class="col-lg-3">
        <a href="/introduce" title="游戏介绍">游戏介绍</a>
      </div>
      <div class="col-lg-3">
        <a href="/download" title="资源下载">资源下载</a>
      </div>
    </div>
  </div>
</footer>