<!DOCTYPE html>
<html ng-app="mechempire">
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <title ng-bind="title">机甲帝国-正在加载...</title>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application'%>
</body>
</html>
